<div>

    <mat-toolbar [ngStyle]="{'background-color':'#A03037'}">
        <div fxFlex="80" fxLayoutAlign="space-around center">

            <div fxFlex="13" fxLayoutAlign="space-between center">
                <img src="../../../assets/Images/education.png">
                <span class="text">
                    Bookstore
                </span>
            </div>


            <div class="searchdiv" fxFlex="50">

                <div class="searchdiv" fxLayoutAlign="space-between center">
                    <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="100">
                        <button mat-icon-button class="search-button">
                            <mat-icon id="search" matTooltip="Search">search</mat-icon>
                        </button>

                        <input fxFlex="92" matInput placeholder="Search" [style.fontSize.px]="16" class="search-window"
                            autocomplete="off" type="text" />


                    </mat-form-field>
                </div>

            </div>
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>
                <button mat-button><img mat-button [matMenuTriggerFor]="menu" src="../../../assets/Images/profile.png"></button>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/dashboard/wishlist">Wishlist</button>
                <button mat-menu-item>Setting</button>
                <button mat-menu-item (click)="logOut()" routerLink="/registration">Log Out</button>
            </mat-menu>

            <div>
                <button mat-button routerLink="/dashboard/cart"><img src="../../../assets/Images/cart.png"></button>
                
            </div>
        </div>
    </mat-toolbar>


    <div>
        <router-outlet></router-outlet>
    </div>
</div>