.text {
    color: #FFFFFF;
}

.search-window {
    background-color: #FFFFFF;
    border-radius: 3px;

}

.footer {
    background-color: #2E1D1E;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.mail{
    color:#FFFFFF
}