.text {
    color: #FFFFFF;
}

.searchdiv {
    // background-color: #FFFFFF;
    // border-radius: 2%;
}

.search-window {
    background-color: #FFFFFF;
    border-radius: 3px;
    // border-top-right-radius: 3%;
    // border-bottom-right-radius:3% ;

    // top: 14px;
    // left: 334px;
    // width: 490px;
    // height: 33px;
}


// .search {
//     background: #9D9D9D 0% 0% no-repeat padding-box;
//     opacity: 1;
// }