<div >

    <mat-toolbar class="toolbar" [ngStyle]="{'background-color':'#A03037'}">
        <div fxFlex="80" fxLayoutAlign="space-around center">

            <div fxFlex="13" fxLayoutAlign="space-between center">
                <img src="../../../assets/Images/education.png">
                <span class="text">
                    Bookstore
                </span>
            </div>


            <div class="searchdiv" fxFlex="50">

                <div class="searchdiv" fxLayoutAlign="space-between center">
                    <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="100">
                        <button mat-icon-button class="search-button">
                            <mat-icon id="search" matTooltip="Search">search</mat-icon>
                        </button>

                        <input #myTitle (keyup)="newMessage(myTitle.value)"   fxFlex="92" matInput placeholder="Search" [style.fontSize.px]="16" class="search-window"
                            autocomplete="off" type="text" />


                    </mat-form-field>
                </div>

            </div>
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>
                <button mat-button  [matMenuTriggerFor]="menu" >
                    <img  src="../../../assets/Images/profile.png">
                    <h5 class="profileName" >{{UserName}}</h5>
                </button>
            </div>
            <mat-menu #menu="matMenu" class="usermenu">
                <h3 class="username" >Hello {{UserName}},</h3>
                <button class="usermenuButton" mat-menu-item routerLink="/dashboard/wishlist">Wishlist</button>
                <button class="usermenuButton" mat-menu-item>Settings</button>
                <button class="usermenuButton" mat-menu-item (click)="logOut()" routerLink="/registration">Log Out</button>
            </mat-menu>

            <div>
                <button  mat-button routerLink="/dashboard/cart">
                    <mat-icon matBadgeColor="warn" matBadge={{bookcount}} ><img src="../../../assets/Images/cart.png"></mat-icon>
                    <h5 class="profileName" >Cart</h5>
                </button>

            </div>
        </div>
    </mat-toolbar>


    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <h4 >Copyright © 2022, Bookstore Private Limited. All Rights Reserved <a class="mail" href="mailto:ankan.sark@mail.com">Ankan Sarkar</a></h4>
    </div>
</div>