<div fxLayout="column">

    <div fxLayout="row" class="navi">
        <P class="home" routerLink="/dashboard/books">Home /</P>
        <p> Book</p>
    </div>


    <div class="main" fxLayout="row" fxLayoutAlign="center start">



        <div fxFlex="20" class="leftdiv">
            <div class="bookImage" fxLayoutAlign="space-around center">
                <img src={{bookDetails.bookImage}}
                    onerror="if (this.src != '../../../assets/Images/download.png') this.src = '../../../assets/Images/download.png';"
                    alt="add alternative text here">
            </div>



            <div class="userAction" fxLayoutAlign="space-between center">
                <div class="addCart" fxFlex="49">
                    <button class="fullWidth" fxFlex="100" mat-raised-button
                        [ngStyle]="{'background-color':'#A03037', 'color':'#FFFFFF'}"
                        (click)="addToCart(bookDetails._id)">Add to cart</button>
                </div>
                <div class="Wishlist" fxFlex="49">
                    <button class="fullWidth" fxFlex="100" mat-raised-button
                        [ngStyle]="{'background-color':'#333333', 'color':'#FFFFFF'}"
                        (click)="addToWishlist(bookDetails._id)">Wishlist</button>
                </div>
            </div>
        </div>



        <div fxLayout="column" fxFlex="40" class="rightdiv">
            <div>
                <h2>{{bookDetails.bookName}}</h2>
                <p [ngStyle]="{'color':'#878787'}"> by {{bookDetails.author}}</p>
                <p><b> Rs. {{bookDetails.discountPrice}} </b><sup><s [ngStyle]="{'color':'#878787'}">Rs.
                            {{bookDetails.price}}</s></sup></p>
            </div>
            <div class="bookDetails">
                <p [ngStyle]="{'color':'#878787'}">Book Details</p>
                <p class="description">{{bookDetails.description}}</p>
            </div>
            <div class="Feedback">
                <p>Customer Feedback</p>
                <div class="reviewField" [ngStyle]="{'background-color':'#F5F5F5'}">
                    <div class="ratingdiv">
                        <p class="description"><b>Overall rating </b></p>


                        <div class="rating">
                            <input (click)="getStarValue(rating4.value)" #rating4 type="radio"  value="4" id="4"><label for="4">☆</label>
                            <input (click)="getStarValue(rating3.value)" #rating3 type="radio"  value="3" id="3"><label for="3">☆</label>
                            <input (click)="getStarValue(rating5.value)" #rating5 type="radio"  value="5" id="5"><label for="5">☆</label>
                            <input (click)="getStarValue(rating2.value)" #rating2 type="radio"  value="2" id="2"><label for="2">☆</label>
                            <input (click)="getStarValue(rating1.value)" #rating1 type="radio"  value="1" id="1"><label for="1">☆</label>

                        </div>



                    </div>

                    <div class="reviewBox" fxLayout="column" fxLayoutAlign="end end">
                        <textarea [ngStyle]="{'background-color':'#FFFFFF'}" matInput placeholder="Write your review"
                            #comment></textarea>
                        <button class="reviewSubmitButton" (click)="addFeedback(bookDetails._id, comment.value)"
                            mat-raised-button color="primary">Submit</button>
                    </div>

                </div>
                <div class="reviews" *ngFor="let Feedback of allFeedbacksArray">
                    <p><b>{{Feedback.UserName}}</b></p>
                    <p>star rating is : {{Feedback.star}}</p>
                    <p class="comment">{{Feedback.feedback}}</p>
                    

                    <!-- <p>All reviews shown hear</p>
                    <p>All reviews shown hear</p>
                    <p>All reviews shown hear</p>
                    <p>All reviews shown hear</p> -->
                </div>
            </div>

        </div>
    </div>

</div>