.card {
    // display: flex;
    // height: fit-content;
    // width: fit-content;
    margin-top: 2%;
    box-shadow: 0 0 6px;
    height: fit-content;

}

.main {
    flex-wrap: wrap;
    margin-left: 14%;
}