.card {
    // display: flex;
    // height: fit-content;
    // width: fit-content;
    margin-top: 1%;
    box-shadow: 0 0 6px;
    height: fit-content;

}

.main {
    flex-wrap: wrap;
    margin-left: 14%;
}
.countDiv{
    margin-top: 1%;
    margin-left: 14%;
    font-size:x-small;
}
.fontColorgray {
    color: #878787;
}

.paginationOuter{
    text-align: center;
    margin-top: 3%;
    font-size: larger;
    margin-bottom: 3%;
    
}

.pagination ::ng-deep .ngx-pagination .current {
    background: #8F2B2F;
    color: #FFFFFF;
}